* {
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
  font-size: 25px;
  line-height: normal;
  background-color: #ede9d5;
  display: flex;
  justify-content: center;
  position: relative;
}

.main {
  margin: 20px auto;
  width: 800px;
}

.horisontal-line {
  border-bottom: solid 1px black;
}

.bayan-content {
  padding: 10px;
}

.item-label {
  display: flex;
  justify-content: space-between;
}

input {
  display: none;
}

.item-label::after {
  content: "+";
  font-size: 2.2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}

label {
  cursor: pointer;
  transition: 0.3s;
}

.input:checked ~ .item-label::after {
  content: "×";
}

.input ~ img {
  display: none;
  opacity: 0;
  transition: opacity 0.5s easy;
}

.input:checked ~ img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
}

.input ~ label {
  color: blue;
  transition: color 0.7 ease;
}

.input ~ label:hover {
  color: black;
  transition: color 0.3 ease;
}

.input:checked ~ label {
  color: black;
  transition: color 0.7 ease;
}

.image{
  width: 350px;
  height: 310px;
}

/* .header-title-first::after {
  content: "";
  display: block;
  background-image: url("../img/students-rs.png");
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.header-title-first:hover::after {
  opacity: 1;
  width: 300px;
  height: 250px;
} */
