* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 1.3rem;
  line-height: normal;
  background: rgb(178, 112, 184);
  background: linear-gradient(
    0deg,
    rgba(178, 112, 184, 0.9808298319327731) 0%,
    rgba(126, 88, 214, 1) 100%
  );
  display: flex;
  justify-content: center;
  font-family: "Archivo Black", sans-serif;
}

.text {
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
}

.title {
  margin:0 0 5px 0 ;
}

.main {
  margin: 1.5rem auto;
  width: 50rem;
  border-style: ridge;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 2rem;
}

.horisontal-line {
  border-bottom: solid 0.1rem black;
}

.bayan-content {
  padding: 1rem;
}

.input {
  display: none;
}

.item-label {
  cursor: pointer;
}

.input:checked ~ label .image {
  display: block;
  height: 18rem;
  width: 21rem;
  margin-left: auto;
  margin-right: auto;
}

.input ~ label {
  color: blue;
  transition: color 0.7s ease;
}

.fa-solid {
  display: flex;
  align-items: center;
}

.header-title-first .image {
  display: block;
}

.header-title-first:hover .image {
  display: block;
  margin: 0 auto;
  height: 18rem;
  width: 21rem;
  transition: all ease 0.5s;
}

.header-title-first:not(:hover) .image {
  transition: all ease-in 0.5s;
  margin: 0 auto;
}

.input ~ label:hover {
  color: black;
  transition: color 0.3 ease;
}

.input:checked ~ label {
  color: black;
}

.bayan-content:hover * {
  color: black;
  transition: color 0.7s ease;
}

.image {
  width: 0;
  height: 0;
  cursor: pointer;
  border-radius: 2rem;
}

.fa-plus{
  display: none;
}

.bayan-content:hover .fa-plus {
  display: flex;
  align-items: center;
}

.input:checked + .item-label .fa-plus:before {
  transform: rotate(45deg);
  transition: all ease-in 0.4s;
}

.header-title-first:hover .fa-plus::before {
  transform: rotate(45deg);
  transition: all ease-in 0.4s;
}

@media (max-width: 320px) {
  h1 {
    font-size: 1.3rem;
  }
  .text {
    font-size: 1.1rem;
  }
  .image {
    max-height: 180px;
  }
}

@media (max-width: 414px) {
  h1 {
    font-size: 1.8rem;
  }
  .text {
    font-size: 1.4rem;
  }
  .image {
    max-width: 100%;
  }
}

@media (min-width: 912px) {
  h1 {
    font-size: 2rem;
  }
  .text {
    font-size: 1.4rem;
  }
}
